<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.mi.testproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        tools:replace="android:name"
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeNotTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".git.TestGitActivity" />
        <activity android:name=".colormatrix.TestColorMatrixActivity" />
        <activity android:name=".listview.TestListViewActivty" />
        <activity android:name=".database.TestDBActivity" />
        <activity android:name=".jsoup.TestJsoupActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".thread.TestThreadActivity" />
        <activity android:name=".scroll.VPJoinListViewActivity" />
        <activity android:name=".scroll.viewpager.TestViewPagerActivity" />
        <activity android:name=".recycleView.RecycleItemActivity" />
        <activity android:name=".defineview.DefineViewActivity" />
        <activity android:name=".TestActivity" />
    </application>

</manifest>